body{
    margin:10px;
    padding: 10px;
}
.div1{
    height: 400px;
    width: 350px;
    background-color: blue;
    position: absolute;
    left: 360px;
    top:300px;

}
.div2{
    height: 380px;
    width: 350px;
    background-color: green;
    position: absolute;
    left: 360px;
    top:300px;
}
.div3{
    height: 360px;
    width: 350px;
    background-color: yellow;
    position: absolute;
    left: 360px;
    top:300px;
}
