body{
    margin:10px;
    padding: 10px;
}
.div1{
    height:360px;
    width:300px;
    background-color: black;
    position: absolute;
    left: 300px;
    top:120px;
}
.div2{
    height:360px;
    width:300px;
    background-color: black;
    position: absolute;
    left: 300px;
    top:140px;
    bottom: 140px;
}
.div3{
    height:360px;
    width:300px;
    background-color: black;
    position: absolute;
    left: 300px;
    top:120px;
}
.div4{
    height:360px;
    width:300px;
    background-color: black;
    position: absolute;
    left: 300px;
    top:120px;
}
.div5{
    height:360px;
    width:300px;
    background-color: black;
    position: absolute;
    left: 300px;
    top:120px;
}
.div6{
    height:360px;
    width:300px;
    background-color: black;
    position: absolute;
    left: 300px;
    top:120px;
}
.div7{
    height:360px;
    width:300px;
    background-color: black;
    position: absolute;
    left: 300px;
    top:120px;
}