body{
    margin:10px;
    padding: 10px;
}
.div1{
    height:360px;
    width:300px;
}
.div2{
    height:360px;
    width:300px;
}
.div3{
    height:360px;
    width:300px;
}
.div4{
    height:360px;
    width:300px;
}
.div5{
    height:360px;
    width:300px;
}
.div6{
    height:360px;
    width:300px;
}
.div7{
    height:360px;
    width:300px;
}