div{
    height: 250px;
    background-color:palevioletred;
    border-radius: 50%;
    width:200px;
    position: absolute;
    top: 200px;
    left:500px;
    animation: bounce 2s infinite;
}
@keyframes bounce {
0%,100%{
    transform: scale(0.5);
}
50%{
    transform: scale(1);
}  
}