div{
    height:30vh;
    width:25vh;
    background-color: aquamarine;
    border-radius: 50%;
}
@keyframes rotate {
0%{
    transform: rotate(0deg);
    border-top-color: rgb(219, 104, 104);
}
25%{
    transform: rotate(90deg);
    border-top-color: rgb(243, 154, 70);
}
50%{
    transform: rotate(180deg);
    border-top-color: rgb(239, 223, 82);
}
75%{
    transform: rotate(27deg);
    border-top-color: rgb(20, 63, 204);
}
    
}