
body{
    background-color: black;
}
.container{
    position:absolute;
    top:40%;
    left: 35%;
    height: 100px;
    width:300px;
    font-size: 50px;
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: burlywood;
    
    
}
.s2{
    display: none;
}
p:hover .s1{ display : none !important;}
p:hover .s2{display:  block !important;
    display: flex;
  color: darkcyan;}
    