.container {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 300px 300px;
    gap: 20px;
    justify-content: center;
   
}

.box {
    padding: 50px;
    background-color:pink;
    box-shadow: 20px 30px 50px 70px;
    border-color: rgb(196, 85, 103);
}
