body{
    margin: 20px;
}
.container{
    height: 100vh;
    width: 100%;
    border: 5px solid yellow;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    height: 100px;
    width: 100px;
    background-color :blue;
    
}