.container{
    display: flex;
    gap:50px;
    padding: 20px;
    width: 380px;
    height: 250px;
    border:1px solid#212775;
    position: absolute;
    top: 35%;
    left: 35%;
}
.circle{
    width: 100px;
    height: 100px;
    animation:spin 2s infinite;
}
@keyframes spin {
    0%,100%{
        border-radius: 50%;
        transform: rotate(90deg);
        background-color: rgb(76, 162, 193);
    }
    50%{
        border-radius: 0%;
        transform: rotate(180deg);
        background-color: rgba(99, 25, 76, 0.832);
    }
}