.container{
    height: 100vh;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box1{
    background: linear-gradient(rgb(206, 92, 111),rgb(207, 97, 207),rgb(104, 104, 212));
    height: 250px;
    width: 200px;
    transform: rotateZ(60deg);
    
}
.box1:hover{
    animation: rotation 3s alternate;
}
@keyframes rotation {
    0%,80%{
        rotate: 0deg;
    }
    
}