.fix{
    display: flex;
    gap:50px;
    padding: 20px;
    width: 380px;
    height: 250px;
    border:1px solid#212775;
    position: absolute;
    top: 35%;
    left: 35%;
}

.container{
    width: 90px;
    height: 50px;
    background-color: yellow;
    border-radius: 20px;
    color: red;
    padding: 10px;
    
}
.container:hover{
    transform: scale(1.2);
    background-color: darkgreen;
    color :white
}
