.container{
   position:absolute;
   top:45%;
   left: 40%;
   border-style: double;
   height: 100px;
   width:300px;
   font-size: 30px;
   padding: 80px;
   columns: orange;
   border: 3px solid green;
}
.word span:hover{
font-size: 40px;
transition: font-size 0.2s;
color :blueviolet
}