div{
    background:linear-gradient(yellow,rgb(160, 182, 216),pink);
    border-radius: 50%;
    height: 250px;
    width:200px;
    position:absolute;
    top:200px;
    left:500px;
    animation: zoom 2s infinite;
}
@keyframes zoom {
0%,100%{
    transform: scale(0.5);
}
0%,100%{
    transform: scale(1);
}
}